<a href="https://colab.research.google.com/github/viktsys/machine-learning/blob/main/SKLearn%20-%20Usando%20dados%20da%20internet%20e%20explorando.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SKLearn - Usando dados da internet e explorando

---

# Pegando dados a internet e ajustando

In [ ]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
data = pd.read_csv(uri)
data.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
x = data[["home","how_it_works","contact"]]
y = data[["bought"]]

data_map = { 
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}

data = data.rename(columns = data_map)

In [ ]:
x= data[["principal","como_funciona","contato"]]
y= data[["comprou"]]

x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [ ]:
training_x = x[:75]
training_x.shape

training_x = x[:75]
training_y = y[:75]
test_x = x[75:]
test_y = y[75:]
test_y.shape

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(training_x), len(test_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

model = LinearSVC()
model.fit(training_x, training_y)
prediction = model.predict(test_x)

accuracy = accuracy_score(test_y, prediction) * 100
print("A acurácia foi %.2f%%" % accuracy)

A acurácia foi 95.83%

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

# Usando o `train_test_split` para facilitar nossa vida

In [ ]:
import pandas as pd 

uri='https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'

data = pd.read_csv(uri)

In [ ]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from random import randint

training_x, test_x, training_y, test_y = train_test_split(x, y, test_size=0.25)

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(training_x), len(test_x)))

SEED = randint(0, 100)

model = LinearSVC()
model.fit(training_x, training_y)
previsoes = model.predict(test_x)

accuracy = accuracy_score(test_y, previsoes) * 100
print("A acurácia foi %.2f%%" % accuracy)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)